<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises del Mundo</title>
    <link rel="stylesheet" href="paisesAmerica.css">
</head>
<body>
    <div class="container">
        <h1>Descubre Culturas del Mundo</h1>
        <div class="countries-grid">
            <!-- México -->
            <div class="country-card">
                <a href="Mexico/categoriasMex.html"><img src="https://flagcdn.com/w320/mx.png" alt="Bandera de México"></a>
                <h2>México</h2>
            </div>
            <!-- Estados Unidos -->
            <div class="country-card">
                <a href="EU/categoriasUS.html"><img src="https://flagcdn.com/w320/us.png" alt="Bandera de Estados Unidos"></a>
                <h2>Estados Unidos</h2>
            </div>
            <!-- Argentina -->
            <div class="country-card">
                <a href="Argentina/categoriasAG.html"><img src="https://flagcdn.com/w320/ar.png" alt="Bandera de Argentina"></a>
                <h2>Argentina</h2>
            </div>
            <!-- Colombia -->
            <div class="country-card">
                <a href="Colombia/categoriasCO.html"><img src="https://flagcdn.com/w320/co.png " alt="Bandera de Colombia"></a>
                <h2>Colombia</h2>
            </div>
            <!-- Brasil -->
            <div class="country-card">
                <a href="Brasil/categoriasBr.html"><img src="https://flagcdn.com/w320/br.png" alt="Bandera de Brasil"></a>
                <h2>Brasil</h2>
            </div>
            <!-- Canadá -->
            <div class="country-card">
                <a href="categoriasC.h"><img src="https://flagcdn.com/w320/ca.png" alt="Bandera de Canadá"></a>
                <h2>Canadá</h2>
            </div>
            <!-- Guatemala -->
            <div class="country-card">
                <a href="categoriasC.html"><img src="https://flagcdn.com/w320/bz.png" alt="Bandera de Guatemala"></a>
                <h2>Guatemala</h2>
            </div>
            <!-- Panamá -->
            <div class="country-card">
                <a href="categoriasC.html"><img src="https://flagcdn.com/w320/pa.png" alt="Bandera de Panamá"></a>
                <h2>Panamá</h2>
            </div>
            <!-- Honduras -->
            <div class="country-card">
                <a href="categoriasC.html"><img src="https://flagcdn.com/w320/hn.png" alt="Bandera de Honduras"></a>
                <h2>Honduras</h2>
            </div>
            <!-- Nicaragua -->
            <div class="country-card">
                <a href="categoriasC.html"><img src="https://flagcdn.com/w320/ni.png" alt="Bandera de Nicaragua"></a>
                <h2>Nicaragua</h2>
            </div>
            

            
        
            </div>
        </div>
    </div>
</body>
</html>
