<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises de Asia</title>
    <link rel="stylesheet" href="paisesOceania.css">
</head>
<body>
    <div class="container">
        <h1>Paises de Oceania</h1>
        <div class="countries-grid">
            <!-- Australia -->
            <div class="country-card">
                <a href="Australia/categoriasAus.html"><img src="https://flagcdn.com/w320/au.png" alt="Bandera de Australia"></a>
                <h2>Australia</h2>
            </div>
            <!-- Fiyi -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/fj.png" alt="Bandera de Fiyi"></a>
                <h2>Fiyi</h2>
            </div>
            <!-- Kiribati -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/ki.png" alt="Bandera de Kiribati"></a>
                <h2>Kiribati</h2>
            </div>
            <!-- Islas Marshall -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/mh.png" alt="Bandera de Islas Marshall"></a>
                <h2>Islas Marshall</h2>
            </div>
            <!-- Micronesia -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/fm.png" alt="Bandera de Micronesia"></a>
                <h2>Micronesia</h2>
            </div>
            <!-- Nueva Zelanda -->
            <div class="country-card">
                <a href="Nueva Zelanda/categoriasNZ.html"><img src="https://flagcdn.com/w320/nz.png" alt="Bandera de Nueva Zelanda"></a>
                <h2>Nueva Zelanda</h2>
            </div>
            <!-- Palaos -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/pw.png" alt="Bandera de Palaos"></a>
                <h2>Palaos</h2>
            </div>
            <!-- Papúa Nueva Guinea -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/pg.png" alt="Bandera de Papúa Nueva Guinea"></a>
                <h2>Papúa Nueva Guinea</h2>
            </div>
            <!-- Samoa -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/ws.png" alt="Bandera de Samoa"></a>
                <h2>Samoa</h2>
            </div>
            <!-- Islas Salomón -->
            <div class="country-card">
                <a href="Islas Salomon/categoriasIS.html"><img src="https://flagcdn.com/w320/sb.png" alt="Bandera de Islas Salomón"></a>
                <h2>Islas Salomón</h2>
            </div>
                
            </div>
        </div>
    </div>
</body>
</html>
