<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises de Asia</title>
    <link rel="stylesheet" href="paisesAfrica.css">
</head>
<body>
    <div class="container">
        <h1>Paises de Africa</h1>
        <div class="countries-grid">
            <!-- Argelia -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/dz.png" alt="Bandera de Argelia"></a>
                <h2>Argelia</h2>
            </div>
            <!-- Sudáfrica -->
            <div class="country-card">
                <a href="Sudafrica/categoriasSuA.html"><img src="https://flagcdn.com/w320/za.png" alt="Bandera de Sudáfrica"></a>
                <h2>Sudáfrica</h2>
            </div>
            <!-- Camerún -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/cm.png" alt="Bandera de Camerún"></a>
                <h2>Camerún</h2>
            </div>
            <!-- República del Congo -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/cg.png" alt="Bandera de República del Congo"></a>
                <h2>República del Congo</h2>
            </div>
            <!-- Egipto -->
            <div class="country-card">
                <a href="Egipto/categoriasEg.html"><img src="https://flagcdn.com/w320/eg.png" alt="Bandera de Egipto"></a>
                <h2>Egipto</h2>
            </div>
            <!-- Etiopía -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/et.png" alt="Bandera de Etiopía"></a>
                <h2>Etiopía</h2>
            </div>
            <!-- Ghana -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/gh.png" alt="Bandera de Ghana"></a>
                <h2>Ghana</h2>
            </div>
            <!-- Kenia -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/ke.png" alt="Bandera de Kenia"></a>
                <h2>Kenia</h2>
            </div>
            <!-- Senegal -->
            <div class="country-card">
                <a href="Camerun/categoriasCam.html"><img src="https://flagcdn.com/w320/sn.png" alt="Bandera de Senegal"></a>
                <h2>Senegal</h2>
            </div>
            <!-- Tanzania -->
            <div class="country-card">
                <a href="Tanzania/categoriasTan.html"><img src="https://flagcdn.com/w320/tz.png" alt="Bandera de Tanzania"></a>
                <h2>Tanzania</h2>
            </div>
                
            </div>
        </div>
    </div>
</body>
</html>
