<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises del Mundo</title>
    <link rel="stylesheet" href="paisesEuropa.css">
</head>
<body>
    <div class="container">
        <h1>Paises de Europa</h1>
        <div class="countries-grid">
            <!-- Alemania -->
            <div class="country-card">
                <a href="Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/de.png" alt="Bandera de Alemania"></a>
                <h2>Alemania</h2>
            </div>
            <!-- Bélgica -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/be.png" alt="Bandera de Bélgica"></a>
                <h2>Bélgica</h2>
            </div>
            <!-- España -->
            <div class="country-card">
                <a href="España/categoriasEsp.html"><img src="https://flagcdn.com/w320/es.png" alt="Bandera de España"></a>
                <h2>España</h2>
            </div>
            <!-- Irlanda -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/ie.png" alt="Bandera de Irlanda"></a>
                <h2>Irlanda</h2>
            </div>
            <!-- Países Bajos -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/nl.png" alt="Bandera de Países Bajos"></a>
                <h2>Países Bajos</h2>
            </div>
            <!-- Hungría -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/hu.png" alt="Bandera de Hungría"></a>
                <h2>Hungría</h2>
            </div>
            <!-- Francia -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/fr.png" alt="Bandera de Francia"></a>
                <h2>Francia</h2>
            </div>
            <!-- Italia -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/it.png" alt="Bandera de Italia"></a>
                <h2>Italia</h2>
            </div>
            <!-- Mónaco -->
            <div class="country-card">
                <a href="../Europa/Alemania/categoriasA.html"><img src="https://flagcdn.com/w320/mc.png" alt="Bandera de Mónaco"></a>
                <h2>Mónaco</h2>
            </div>
            <!-- Reino Unido -->
            <div class="country-card">
                <a href="Reino Unido/categoriasUK.html"><img src="https://flagcdn.com/w320/gb.png" alt="Bandera de Reino Unido"></a>
                <h2>Reino Unido</h2>
            </div>
                
            </div>
        </div>
    </div>
</body>
</html>
