<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paises del Mundo</title>
    <link rel="stylesheet" href="Continentes/continentes.css">
</head>
<body>
    <div class="container">
        <h1>Descubre Culturas del Mundo</h1>
        <div class="countries-grid">
            <!-- America -->
            <div class="country-card">
            <a href="../templates/Continentes/America/paisesAmerica.html"><img src="../img/america.jpg" ></a>
                <h2>América</h2>
            </div>
            <!-- Europa -->
            <div class="country-card">
                <a href="../templates/Continentes/Europa/paisesEuropa.html"><img src="../img/europa.jpg" ></a>
                <h2>Europa</h2>
            </div>
            <!-- Oceania -->
            <div class="country-card">
                <a href="../templates/Continentes/Oceania/paisesOceania.html"><img src="../img/oceania.jpg" ></a>
                <h2>Oceanía</h2>
            </div>
            <!-- Africano -->
            <div class="country-card">
                <a href="../templates/Continentes/Africa/paisesAfrica.html"><img src="../img/africa.jpg" ></a>
                <h2>África</h2>
            </div>
            <!-- Asia -->
            <div class="country-card">
                <a href="../templates/Continentes/Asia/paisesAsia.html"><img src="../img/asia.jpg" alt="Bandera de Japón"></a>
                <h2>Asia</h2>
            </div>
        </div>
    </div>
</body>
</html>
